body {
	padding: 0;
	margin: 0;
	min-width: 1230px;
	font-family: "PT Sans Caption", "Arial", sans-serif;
}
.container{
	width: 1210px;
	padding: 0 10px;
	margin:0 auto;
}

/*Intro*/
.intro {
	padding-top: 10px;
	background-color:#455c7c;
	background-image:url('../img/background_intro.jpg');
	background-repeat: no-repeat;
	background-position: center 0;
	color: #ffffff;
}
.intro_header {
	position: relative;
}

.logo_intro {
	position:absolute;
	top:0;
}

.logo_maximum {
	right:0;
}

.header_first_row {
	width: 55%;
	margin:0 auto;
}

.header_first_row h2 {
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	letter-spacing: -0.04em;
	text-align: center;
}

.header_first_row p {
	
	font-size: 18px;
	text-align:center;
	line-height: normal;
	margin-top: -40px;
}

.header_second_row {
	margin-top: 150px;
	width: 495px;
	margin-left: 535px;
}

.header_second_row h1 {
	font-family: "Roboto", "Helvetica", sans-serif;
	text-transform: uppercase;
	font-size: 94px;
	line-height: 80px;
	letter-spacing: -0.06em;
}

.header_second_row .brand_intro {
	font-size: 71px;
}

.link_intro {
	text-align: center;
	padding-bottom: 40px;
}

.link_intro p {
	font-size: 25px;
	line-height: 60px;
	letter-spacing: -0.04em;
}

.link_intro .btn_intro{
	color: #ffffff;
	text-decoration: none;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 12px 35px;
	border: 1px solid #ffffff;
}

/*Prizes first time*/
.prizes_slide_first {
	background-color: #535a66;
	background-image: url(../img/background_grey.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	color: #ffffff;
	font-family: "Roboto", "Helvetica", sans-serif;
	font-weight: 700;
	font-style: italic;
	padding-top: 40px;
	padding-bottom: 130px;
	text-align: center;
}


.prizes_slide_first .prize-item {
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	margin-left: 90px;
}

.prizes_slide_first .prize_name {
	font-size: 31px;
	line-height: 45px;
	text-transform: uppercase;
	letter-spacing: -0.04em;
	margin:0;
}

.prizes_slide_first .prize_exp {
	font-size: 14px;
	line-height: 18px;
	margin:0;
	letter-spacing: 0;
}

/*Partners*/

.partners{
	background-color: #ffffff;
}

.partners h2 {
	font-family: "PT Sans";
	color: #535a66;
	font-size: 60px;
	font-weight: 700px;
	letter-spacing:-0.02em;
}
.partner_item {
	display: inline-block;
	vertical-align: center;
}

/*green first*/
.green_first {
	background-color: #84c71b;
	background-image: url(../img/background_green.jpg);
	background-repeat:no-repeat;
	background-position: center 0;
	padding-top: 190px;
}

.green_first::after {
	content: "";
	display: table;
	clear: both;
}

.green_first_header {
	font-size:;
	color: #ffffff;
	text-align: center;
}

.green_first .left_column {
	float : left;
	width: 573px;
	color: #535a66;
}
.green_first .right_column {
	float: left;
	width: 500px;
	color: #535a66;
}

.left_column .spring {
	background-color: #ffffff;
	padding: 20px 20px 20px 60px;
}

.left_column .spring h2 {
	font-size:36px;
	line-height: 48px;
}

.left_column .spring p {
	font-size: 24px;
	line-height: 32px;
}

.left_column .spring_color {
	color: #00a086;
	font-weight: bold;
}

.left_column .spring_link {
	font-size: 36px;
	font-weight: bold;
	text-decoration-style: dotted;
	text-transform: uppercase;
	color: #00a086;

}